.card {
    width: 200px;
    max-width: 300px;
    height: 400px;
    background-color: #FFFFFF;
     overflow: hidden;
    transition: width .2s; 

    &:hover,
    &:focus {
        
        transform: scale(1.04);
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 0px rgba(0 ,0 ,0 ,0.5);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover &__image,
    &:focus &__image {
        transform: scale(1.3);
        transform-origin: center;
    }

     &:nth-child(5n + 1) {
   background-color: #FFFFFF;
    }

    &:nth-child(5n + 2) {
        background-color: #FFFFFF;
    }

    &:nth-child(5n + 3) {
        background-color: #FFFFFF;
    }

    &:nth-child(5n + 4) {
        background-color: #FFFFFF;
    }

    &:nth-child(5n + 5) {
        background-color: #FFFFFF;
    }

    &__image-container {
        height: 200px;
        background-color: blue;
        overflow: hidden;
    }

  
    &__description {
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        font-weight: 200;
        color: grey;
        
    }
    &__heading{
        margin-left:8px;
        margin-right: 4px;
        margin-top: 4px;
        font-weight: 350;
        font-size: 20px;
    }
   
    /* ----------------------------------------- */

    @media (max-width: 768px) {
        & { /* .card */
            min-width: 400px;
            max-width: 500px;
            height: 200px;
        }

        &__article { 
            display: flex;;
        }

        & &__image-container { 
            width: 40%;
            clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%); 
        }

        &:hover &__image-container,
        &:focus &__image-container {
            width: 40%;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
        }

    }

    .btn-agregar {
        background-color: pink; 
        height: 30px;
        margin-left: 50px;
        margin-top: 2px;
        color: #000; 
        border: none; 
        border-radius: 5px; 
        padding: 8px; 
        font-size: 15px; 
        cursor: pointer; 
        transition: background-color 0.3s ease;
    
        
        &:hover {
            background-color: palevioletred; 
        }
    
        
        &:active {
            background-color: red; 
            transform: scale(0.95); 
    } 
    
    
    }
    }